<a href="/">Welcome Index</a>
<a href="/employees">Employee Index</a>
<a href="/restaurants">Restaurant Index</a>

<h2>Add New Employee</h2>
<a href="/employees/new">Add New Employee</a>

<h1>Current Employees</h1>

<% @employees.each do |employee| %>
  <p><a href="/employees/<%=employee.id%>"><%= employee.name %></a> <a href= <%="/employees/#{employee.id}/edit"%> >Update Employee</a></p>
  <p>Employee ID: <%=employee.id%></p>
  <p>Weekly Hours: <%=employee.weekly_hours%><p>
  <p>Over 21: <%=employee.over_21%><p>
  <p>Created At: <%=employee.created_at%><p>
  <p>Updated At: <%=employee.updated_at%><p>
  <p>Restaurant ID: <%=employee.restaurant_id%><p>
<% end %>
