<a href="/">Welcome Index</a>
<a href="/beer">Beer Index</a>
<a href="/brewery">Brewery Index</a>

<h2>Beer Records by Brewery</h2>

<a href=<%="/brewery/#{@brewery.id}/beer/new"%>>Create beer</a>

<% @beer.each do |beer| %>
  <p>Name: <%= beer.name %></p>
  <p>Vendor Lead Time (days): <%= beer.vendor_lead_time %></p>
  <p>Bottled: <%= beer.bottled %></p>
  <p>Created At: <%= beer.created_at %></p>
  <p>Updated At: <%= beer.updated_at %></p>
  <p>Brewery ID: <%= beer.brewery_id %></p>

<% end %>
