<a href="/restaurant">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>

<p><%='Seats:'%> <%= @restaurant.seats %></p>
<p><%='Serves Alcohol:'%> <%= @restaurant.serve_liquor %></p>
<p><%='Created At:'%> <%= @restaurant.created_at %></p>
<p><%='Updated At:'%> <%= @restaurant.updated_at %></p>
<p><%='Number of Employees:'%> <%= @restaurant.employees.count %></p>

<a href= <%="/restaurant/#{@restaurant.id}/employee"%> >Employees</a>
