<a href="/restaurant">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>

<p><%='Created At:'%> <%= @restaurant.created_at %></p>
<p><%='Updated At:'%> <%= @restaurant.updated_at %></p>
<p><%='Seats:'%> <%= @restaurant.seats %></p>
<p><%='Serves Alcohol:'%> <%= @restaurant.serve_liquor %></p>
