<%= link_to "Employee Index", "/employees"%>
<%= link_to "Restaurant Index", "/restaurants"%>
<%= link_to "Beers Index", "/beers"%>
<%= link_to "Breweries Index", "/breweries"%>

<h1>Welcome to Relational Rails</h1>
<%=image_tag("restaurant.png", size: "50")%>
<%= link_to "Restaurant Index", "/restaurants"%><br>
<%=image_tag("employee.png", size: "40")%>
<%= link_to "Employee Index", "/employees"%><br>
<%=image_tag("brewery.png", size: "50")%>
<%= link_to "Breweries Index", "/breweries"%><br>
<%=image_tag("beer.png", size: "50")%>
<%= link_to "Beers Index", "/beers"%>
