<a href="/employee">Employee Index</a>
<a href="/restaurant">Restaurant Index</a>

<h2>Employee Records by Restaurant</h2>

<% @employee.each do |employee| %>
  <p>Name: <%= employee.name %></p>
  <p>Weekly Hours: <%= employee.weekly_hours %></p>
  <p>Over 21: <%= employee.over_21 %></p>
  <p>Created At: <%= employee.created_at %></p>
  <p>Updated At: <%= employee.updated_at %></p>
  <p>Restaurant ID: <%= employee.restaurant_id %></p>
<% end %>
