<%= link_to "Employee Index", "/employees"%>
<%= link_to "Restaurant Index", "/restaurants"%>

<h2>Employee Records by Restaurant</h2>

<%= link_to "Create Employee", "/restaurants/#{@restaurants.id}/employees/new"%> <br>

<%= link_to "Sort Employees Alphabetically", "/restaurants/#{@restaurants.id}/employees?sort_by=name"%> <br>

<% @employees.each do |employee| %>
  <p>Name: <%= employee.name %></p>
  <p>ID: <%= employee.id %></p>
  <p>Weekly Hours: <%= employee.weekly_hours %></p>
  <p>Over 21: <%= employee.over_21 %></p>
  <p>Created At: <%= employee.created_at %></p>
  <p>Updated At: <%= employee.updated_at %></p>
  <p>Restaurant ID: <%= employee.restaurant_id %></p>
  <%= link_to "Update Employee", "/employees/#{employee.id}/edit"%>

  <form action="/restaurants/<%= @restaurants.id %>/employees" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Employee"style="background:none; border-width:0px; color:blue; text-decoration:underline;cursor:pointer;font-family:timesnewroman;font-size:100%"/>
  </form>
  <hr>
<% end %>

<form action=<%="/restaurants/#{@restaurants.id}/employees hours: hours"%> method="get">
  <label for="hours">Only return records with more than <input type="text" id="hours" name="hours"> weekly hours</label><br>
  <input type="submit" value="Submit">
</form>
