<a href="/employees">Employee Index</a>
<a href="/restaurants">Restaurant Index</a>

<h2>Sorted Employee Records by Restaurant</h2>

<a href= <%="/restaurants/#{@restaurants.id}/employees/new"%> ><h3>Create Employee</h3></a>

<% @employees.each do |employee| %>
  <p>Name: <%= employee.name %></p>
  <p>Weekly Hours: <%= employee.weekly_hours %></p>
  <p>Over 21: <%= employee.over_21 %></p>
  <p>Created At: <%= employee.created_at %></p>
  <p>Updated At: <%= employee.updated_at %></p>
  <p>Restaurant ID: <%= employee.restaurant_id %></p>
  <a href= <%="/employees/#{employee.id}/edit"%> >Update Employee</a>
  <form action="/restaurants/<%= @restaurants.id %>/employees" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Employee"style="background:none; border-width:0px; color:blue; text-decoration:underline;cursor:pointer;font-family:timesnewroman;font-size:100%"/>
  </form>
  <hr>
<% end %>

<form action=<%="/restaurants/#{@restaurants.id}"%> method="get">
  <label for="hours">Input a number of weekly hours to see employees meeting that threshold:</label><br>
  <input type="text" id="hours" name="hours"><br>
  <input type="submit" value="Submit">
</form>
