<%= link_to "Employee Index", "/employees"%>
<%= link_to "Restaurant Index", "/restaurants"%>

<h1><%= @restaurant.name %></h1>

<p><%='Seats:'%> <%= @restaurant.seats %></p>
<p><%='Serves Alcohol:'%> <%= @restaurant.serve_liquor %></p>
<p><%='Created At:'%> <%= @restaurant.created_at %></p>
<p><%='Updated At:'%> <%= @restaurant.updated_at %></p>
<p><%='Number of Employees:'%> <%= @restaurant.employees.count %></p>

<a href= <%="/restaurants/#{@restaurant.id}/employees"%> >Employees</a>
<a href= <%="/restaurants/#{@restaurant.id}/edit"%> >Update Restaurant</a>

<form action="/restaurants/<%= @restaurant.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Restaurant"/>
</form>
