<h1>Brewery</h1>

<% @brewery.each do |brewery|%>
  <h3><%=brewery.id%></h3>
  <h3><%=brewery.name%></h3>
  <h3><%=brewery.created_at%></h3>
  <h3><%=brewery.updated_at%></h3>
  <h3><%=brewery.number_of_employees%></h3>
  <h3><%=brewery.employee_owned%></h3>
<%end%>
