<a href="/brewery">Brewery Index</a>

<h1><%= @brewery.name %></h1>

<p><%='Number of Employees:'%> <%= @brewery.number_of_employees %></p>
<p><%='Employee Owned:'%> <%= @brewery.employee_owned %></p>
<p><%='Created At:'%> <%= @brewery.created_at %></p>
<p><%='Updated At:'%> <%= @brewery.updated_at %></p>
