<h1>Beers</h1>

<% @beer.each do |beer| %>
  <h3><%= beer.name %></h3>
  <p>Beer ID: <%=beer.id%></p>
  <p>Vendor Lead Time: <%=beer.vendor_lead_time%><p>
  <p>Bottled: <%=beer.bottled%><p>
  <p>Created At: <%=beer.created_at%><p>
  <p>Updated At: <%=beer.updated_at%><p>
  <p>Brewery ID: <%=beer.brewery_id%><p>
<% end %>

<h2>Add New Beer</h2>

<a href="/beer/new">Add New Beer</a>
